



<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
			<!--大標題+圖-->
			<div class="col-xs-12 col-sm-12">
				<div class="totalbox">
					<h3 class="total-word">榮耀與責任</h3>
					<!--麵包穴-->
					<ol class="breadcrumb hidden-xs">
					  <li><a href="#">首頁</a></li>
					  <li><a href="#">關於神通資科</a></li>
					  <li class="active">榮耀與責任</li>
					</ol>
					<!--麵包穴結束-->
				</div>
				<!--主圖-->
				<img src="images/big05.jpg" class="img-responsive" style="margin-top:50px">
				<!--主圖結束-->
			</div>
			<!--大標題+圖結束-->
			<!--入出境查驗及通關自動化系統標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>得獎紀錄</span></h3>
			</div>
			<div class="col-xs-12 col-sm-5">
				<img src="images/m08.jpg" class="img-responsive"> 			
			</div>
			
			<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">
					
				<h3>2014</h3>
					<ul>
						<li>
						台灣高鐵不斷以科技創新應用提升服務品質，連續兩屆勇奪 天下雜誌金牌服務業調查「陸上長途運輸類金牌獎」，神通 公司為其票證系統長期合作夥伴，深感與有榮焉。
						 <p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
						<li>本公司承攬建置的悠遊卡系統榮獲中華民國資訊軟體協會主辦「台灣世界級資訊應用獎」
						<p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
						<li>本公司承攬建置的移民署國境自動查驗通關系統(E-Gate)及航前旅客資訊系統(APIS) 榮獲中華民國資訊軟體協會主辦「台灣世界級資訊應用獎」
						<p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
						<li>自動通關系統第一千萬名旅客(2014/02/20)在桃園第二航廈誕生，神通現場見證並贊助移民署與國境大隊舉辦之慶祝活動。
						<p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
					</ul>
				</div>
				</div>	
			<div class="cleanfix"></div>	
			<div class="col-xs-12 col-sm-5">
				<img src="images/m07.jpg" class="img-responsive"> 			
			</div>
			
			<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">

					<h3>2013</h3>
					<ul>
						<li>2013/11/26 台灣大哥大六星級雲端機房啟用，神通團隊承攬機電工程建置，同時協助榮獲 Uptime Tier III 雙認證。</li>
						<li>財政部賦稅再造 -地方稅系統，榮獲2013國際專案管理標竿金質獎，以及PMI台灣專案管理最佳實務競賽優選獎。</li>
						<li>神通資科承攬台北捷運自動票證系統工程(CU307專案)於2013年3月29日通過北市捷運局驗收，全案於6月29日啟動保固，並於8月2日正式取得上包商阿爾斯通及中鼎工程完工證明。</li>
						<li>聯華神通集團名列台灣地區收入最高10大集團第五名，科技產業10大集團第八名
						<p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
						<li>本公司名列台灣資訊科技服務市場總營收第二名
						<p>
						 <a href="#" class="btn btn-info btn-xs" role="button" style="float:right">型錄下載</a>
						 </p>
						</li>
					</ul>
				</div>
			</div>	
			<div class="cleanfix"></div>	
			<div class="col-xs-12 col-sm-5">
				<img src="images/m07.jpg" class="img-responsive"> 			
			</div>
			
			<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">

					<h3>2012</h3>
					<ul>
						<li>本公司與台新銀行合作開發完成之授信風險管理系統(UFRMS)榮獲『2012 Celent 模範銀行大獎』</li>
						<li>本公司與台新銀行合作開發完成之授信風險管理系統(UFRMS)榮獲『銀行家(The Banker)IT科技創新最佳推薦獎-最佳風險管理科技』</li>
						<li>本公司『MiCloud-Small Green IT Project Turned into Revenue Generator』專案入選為IDC the IT Excellence Awards 2012決選名單。</li>
						<li>神通資科承攬台北捷運內湖線電力、通訊系統於6月22日通過北市捷運局驗收，並於10月5日正式取得上包商龐巴迪公司完工證明。
						</li>
					</ul>
				</div>
				</div>	
				<div class="cleanfix"></div>	
				<div class="col-xs-12 col-sm-5">
					<img src="images/m07.jpg" class="img-responsive"> 			
				</div>
			
				<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">

					<h3>2011</h3>
					<ul>
						<li>聯華電子股份有限公司「2011承商安全年─承安心安」活動，獲選為優良承攬商。</li>
						<li>取得捷運自動收費系統專業分包商資格</li>
						<li>本公司通過Bombardier IRIS國際鐵道工業標準稽核作業，正式取得Bombardier合格供應商資格</li>
						<li>本公司與財政部財稅資料中心合作開發完成之電子發票計畫獲頒『2011 亞太電子化成就獎』與『2011 Future Gov北亞區最佳政府實踐獎』
						</li>
						<li>本公司與財政部財稅資料中心合作開發完成之綜所稅扣除額單據電子化作業獲頒『政府服務品質獎』</li>
						<li>本公司與財政部財稅資料中心合作開發完成之綜所稅稅額試算服務榮獲100年資訊月『傑出資訊應用暨產品獎』</li>
						<li>本公司與台新銀行合作開發完成之授信風險管理系統(UFRMS)榮獲『2011 IDC 企業創新獎』</li>
						<li>本公司自行研製之多卡通產品榮獲『台灣ITS/Telematics精彩100』產品暨服務二項優質獎</li>
						<li>獲得審核通過，取得微軟DLAR (Direct Large Account Reseller)資格，並通過MCloud Gold Certified Partner金級認證</li>
						<li>獲得審核通過九項產品增值服務優先獎勵計畫，成為IBM VAP (Value Advantage Plus) Partner</li>
						<li>隧道中央監控系統通過 勞氏國際(泰國)有限公司認證，符合IEC 61508安全完整性水平二(Safety Integrity Level 2；SIL 2)標準，成為國內廠商承攬公共工程取得SIL認證首例。</li>
						<li>美商洛克希德馬丁公司對神通團隊順利執行工業合作計畫的績效讚譽有加，致贈感謝函</li>
						<li>獲選為經濟部工業局「博勝案工業合作主導廠商」</li>
						<li>通過能力成熟度整合模式第三級(CMMI Level 3)更新版評鑑，為國內擁有工程、研發、整合能量，同時具備CMMI V1.2 (Staged)之認證廠商</li>
						<li>榮獲經濟部第十三屆「產業科技發展獎」軟體與網路組傑出獎</li>
						<li>榮獲中華徵信社Top 5000產業標竿排名電腦系統整合服務業：第一名</li>
						<li>獲得經濟部工業局核定為IS-B3資訊服務業電子化工程服務機構</li>
						<li>獲IBM Global Services 評選為全球IBM公司系統整合最佳夥伴</li>
						<li>獲頒IBM SOA技術創新獎</li>
						<li>獲頒IBM SOA合作夥伴聯盟頂級成員</li>
					</ul>
				</div>
				</div
			
			
			
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>品質政策</span></h3>
			</div>
			
			<div class="col-xs-12 col-sm-12">
				
				<p>我們的使命是：『運用資訊科技為客戶服務，讓客戶獲致成功，讓我們的服務產生最大的附加價值。』 我們的信念是：『贏得信賴，是榮譽也是責任；雅納批評，是智慧也是勇氣。』 我們追求客戶的滿意、品質的卓越、資訊技術的提昇、合理的利潤，以維持公司與同仁的持續成長與永續發展。</p>
				<h4 class="title text-center text-primary"><span>品質政策(Quality Policy)</span></h4>
				<p>為了達成企業使命與營運目標，我們建立並維護適用於本公司作業流程的品質政策與作業要求如下： (A).全員品保：經由不斷的工作改善，達到品質第一、客戶滿意的國際品質標準。
				(B).全員學習：持續推動教育訓練，提昇同仁的工作能力與品質素養；累積、建立並維護專案資產與流程資產，提供本公司長期發展效益。
				(C).全員行銷：厚植專案管理能力，開拓新興事業，進取國際市場。</p>
				<h4 class="title text-center text-primary"><span>整合式品質管理系統(Integrated Quality Management System)</span>
				</h4>
				<p>我們引進PMI PMP九大知識領域、CMMI專案管理與軟體工程作業規範、ISO9001一般基本作業規範、ISO27001資訊安全系統規範、以及EN50126, EN50128, RAMS, SIL-II工程品質與系統安全保證作業標準等國際通行的各種方法論，並成功獲得相關認證，一方面，確保專案執行品質滿足顧客的需求，另一方面，藉由做中學不斷精進作業流程，更進一步內化為核心競爭力。在本公司內部，這些規範不但已經融合成為一套完整的「整合式品質管理系統」，同時採取持續的教育訓練，灌輸到每一位同仁在日常作業中得以遵循。</p>
				<h4 class="title text-center text-primary"><span>ISO9001認證
				</span></h3>
				<p>為了在公司內部建立一個流程持續改善的環境，並維持不斷追求品質日益精進的動力，我們導入了ISO9001國際品質管理系統，歷程如下：
				<p>2013年 - 神通資訊科技公司通過ISO 9001:2008的換證作業。</p>
				<p>2010年 - 神通資訊科技公司於成立後取得ISO 9001:2008的認證。</p>
				<p>2001年 - 神通電腦公司經由換證作業取得ISO 9001:2000的認證。</p>
				<p>1996年 - 神通電腦公司領先國內資訊產業第一家通過ISO 14000的認證。</p>
				<p>1995年 - 神通電腦公司取得ISO 9001:1994認證。</p>
				<h4 class="title text-center text-primary"><span>ISO27001認證</span>
				</h3>
				<p>神通電腦公司原已通過各種的品質認證標準，為了在公司內部建立一個資訊安全的作業環境，並協助政府與大型企業客戶建置符合ISO27001的資訊安全管理制度，神通電腦公司導入ISO27001資訊安全管理系統，並於2007年取得ISO27001：2005認證，同時持續培訓同仁取得資訊安全管理專業顧問與稽核員認證。 2010年神通資訊科技公司於成立後通過 ISO27001：2005認證，2013年再完成換證作業。</p>
				<h4 class="title text-center text-primary"><span>CMMI認證</span>
				</h3>
				<p>有鑒於CMMI（Capability Maturity Model Integration；能力成熟度整合模式）對於軟體開發及系統整合之重要性，為增進軟體系統專案的品質承諾及改善軟體發展流程，神通電腦公司是國內早期積極導入CMMI的廠家之一，其間並主動參與政府推動CMMI的計畫，歷程如下：</p>
				<p>2013年 - 神通資訊科技公司全公司於十月二十三日通過CMMI-DEV V1.3 ML3的評鑑。</p>
				<p>2010年 - 神通資訊科技公司全公司於十一月十五日通過CMMI-DEV V1.2 ML3的評鑑。</p>
				<p>2008年 - 神通電腦公司於十月九日以全公司的規模通過CMMI-DEV V1.2 ML3更新版第三級的評鑑。</p>
				<p>2007年 - 神通公司專業顧問輔導漢翔航空公司、環域公司、聯宿公司通過CMMI 第二級 (Level 2)的評鑑</p>
				<p>2005年 - 神通電腦公司『自動化事業群』為導入示範單位，於八月十日正式通過 CMMI V1.1第三級(Level 3)流程改善評鑑，由於神通同時申請系統工程及軟體工程(SE/SW)之認證，因此成為國內第一家通過第三級雙重能力驗證的廠商。</p>	
				<p>2004年 - 神通電腦與印度QAI顧問公司簽約，正式導入CMMI Maturity Level 3 第三級流程改善計畫。</p>
				<p>2002年 - 神通電腦透過轉投資教育訓練機構『神旭資訊』引進SEI certified "Introduction to CMMI" 訓練課程。</p>
				<h4 class="title text-center text-primary"><span>其他RAMS相關認證</span>
				</h3>
				<p>在公司內部，除了遵循ISO與CMMI的標準作業流程外，因為承接國際大型專案的機會，通常根據合約所律定的條款，在專案執行過程與最終產品交付，必須確保符合特定的RAMS安全與品質規範。因此，對於參與大型專案的神通資訊科技同仁而言，下列通行國際的安全品質標準與作業流程規範已有實際執行經驗。舉例來說，如：</p>
				<div class="list2">
					<ul>
					<li>台灣高速鐵路自動收費系統遵循ISO/IEC12207, EN50126, EN50128歐規的安全規範等</li>
					<li>參與捷運通訊、電力和自動收費系統等專案，已達成歐規EN 50126系統保證工程作業要求(包括可靠度、可用度、維護度和系統安全，即所謂RAMS )</li>
					<li>捷運內湖線機電通訊整合系統遵循IEEE730, MIL-STD等</li>
					<li>國防專案遵循MIL-STD, DOD-STD軍規作業標準等</li>
					<li>隧道中央監控系統遵循SIL 2安全作業標準等</li>
					<li>台灣大哥大IDC 雲端機房獲得國際機房權威管理機構Uptime Institute Tier III 雙認證：Tier III Design 設計規劃認證(Tier Certification of Design Documents，TCDD) 以及Tier III Facility 設施建置認證(Tier Certification of Constructed Facility，TCCF)。</li>
				</ul>
				</div>
			</div>
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>社會責任政策</span></h3>
			</div>
			<div class="col-xs-12 col-sm-12">
			
			<p>神通資訊科技是資通訊系統整合廠商，我們的營業範圍涵蓋系統整合、自動化控制、應用軟體研發、技術諮詢與售後服務等領域，我們將企業社會責任視為公司政策的一環，落實在公司治理、產品研發、員工關懷、社會關係上。我們承諾整合公司資源達成下列政策，並持續進行各項改善，成為永續發展、環保節能、關懷社會的世界級標竿企業。</p>
			<h4 class="title text-center text-primary"><span>公司治理</span>
			</h4>
			<p>本公司作為企業公民的一員，除了在營運方面持續追求成長，也致力於實踐企業社會責任，在遵守法律規範的前提下，以誠信、公平的原則，保障股東、員工及社會大眾的權益。</p>
			<h4 class="title text-center text-primary"><span>環境保護</span>
			</h4>
			<p>推動綠色產品，致力環保節能與污染預防，並配合宣導國際各項環境保護規範，貢獻一己之力。</p>
			<h4 class="title text-center text-primary"><span>員工關懷</span>
			</h4>
			<p>本公司遵守相關勞動法規，保障員工權益，維持良好的勞資關係；重視員工發展，提供安全健康的工作環境。</p>
			<h4 class="title text-center text-primary"><span>人才培育</span>
			</h4>
			<p>因應快速變遷的產業環境及技術發展，本公司每年均編列員工教育訓練經費，全方位規劃員工知識、技能、態度、管理等相關訓練，並鼓勵員工取得相關技術認證，以培養具競爭力員工，使其發揮所長、運用新知、研發創造，達成豐碩的整體利潤，同時確保員工個人與公司持續性的成長。</p>
			<h4 class="title text-center text-primary"><span>社會參與</span>
			</h4>
			<p>成立「育秀基金會」，推廣數位知識發展及應用，促進產業升級，提昇資訊化優質社會。 
			推行「專業實習」制度，積極與各大學資訊相關系所合作，提供未畢業的同學專業實習機會，培育資訊人才。</p>
			

			</div>
			
			

		</div>
	</div>

	<!--內容結束-->