



<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
			<!--大標題+圖-->
			<div class="col-xs-12 col-sm-12">
				<div class="totalbox">
					<h3 class="total-word">公司簡介</h3>
					<!--麵包穴-->
					<ol class="breadcrumb hidden-xs">
					  <li><a href="#">首頁</a></li>
					  <li><a href="#">關於神通資科</a></li>
					  <li class="active">公司簡介</li>
					</ol>
					<!--麵包穴結束-->
				</div>
				<!--主圖-->
				<img src="images/big03.jpg" class="img-responsive" style="margin-top:50px">
				<!--主圖結束-->
			</div>
			<!--大標題+圖結束-->
			<!--入出境查驗及通關自動化系統標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>神通資訊科技</span></h3>
			</div>
			<!--入出境查驗及通關自動化系統標題結束-->
			<!--入出境查驗及通關自動化系統內容開始-->
			
			<div class="col-xs-12 col-sm-12">
				
				<p class="text-justify" style="margin:10px 20px">神通資訊科技股份有限公司(MiTAC Information Technology Corp.)於2010年10月正式成立，傳承中華民國第一家引進微電腦系統的電腦公司─神通電腦推廣微電腦設計與應用的精神，致力於提供整體解決方案( Total Solution)與一站完整服務(One Stop Service)，以速度、品質與熱忱來滿足客戶所有需求。 神通資訊科技的營業範圍涵蓋系統整合、自動化控制、設計製造、技術諮詢與售後服務等領域，透過系統發展與專業知識累積，資通訊技術整合能力，以及完善支援服務，不但大幅改善客戶生產力與工作效率，更協助其迎向e時代、接軌國際。
				</p>
			</div>
			
			
			
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>基本資料</span></h3>
			</div>
			<div class="col-xs-5 col-sm-5">
				<img src="images/m02.jpg" class="img-responsive img-rounded"> 			
			</div>
			<div class="col-xs-7 col-sm-7">
				<div class="list" style="padding-top:0px">
					
					<ul>
						<li>隸屬聯華神通集團
						</li>
						<li>成立時間：2010年10月7日
						</li>
						<li>資本總額：新台幣15億元</li>
						<li>員工人數：1300+人</li>
						
					</ul>
				</div>	
			</div>
			
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>企業精神</span></h3>
			</div>
			<!--電子化政府國際合作與輸出標題結束-->
			<!--電子化政府國際合作與輸出內容開始-->
			<div class="col-xs-12 col-sm-12">
				<h3 class="text-center text-danger">「贏得信賴，是榮譽也是責任；雅納批評，是智慧也是勇氣」</h3>		
				<p class="text-justify" style="margin:10px 20px">
					這是神通資訊科技全體同仁不變的信念與對客戶長期的承諾，其中包含了誠信、熱心、正直、虛心、榮譽、責任。 未來神通資訊科技將專注系統整合業務，希望延續台灣資訊業頂級品牌光環，進而成為世界級系統整合公司。
				</p>
			</div>
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>重要貢獻</span></h3>
			</div>
			<div class="col-xs-12 col-sm-5">
				<img src="images/m01.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list" style="padding-top:70px">
					
					<ul>
						<li>建立全國第一個網路化資訊平台─財稅中心稅務平台(1999年)
						</li>
						<li>開發全國第一個智慧卡清算系統─悠遊卡清算系統(2000年)
						</li>
						<li>開發全國第一個運用SOA技術的金融系統─玉山銀行外匯系統(2008年)</li>
						<li>開發全國第一個智慧型手持裝置訂票系統─高鐵訂票訂位系統(2011年)</li>
						<li>建立全國第一個以臉部識別的通關系統─移民署入出境自動通關系統(2011年)</li>
					</ul>
				</div>	
			</div>
			
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>神通資科歷史沿革</span></h3>
			</div>
			<div class="col-xs-12">
				<h2 class="text-center text-move">神通資訊科技公司 重要里程碑</h2>
			</div>	
			<div class="col-xs-12 col-sm-5">
				<img style="padding-top:25px" src="images/m04.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">
					<h2>2014</h2>

					<ul>
						<li>悠遊卡系統、自動查驗通關系統(E-Gate)及航前旅客資訊系統(APIS)榮獲「台灣世界級資訊應用獎」
						</li>
						<li>自動查驗通關系統突破1,350萬人次
						</li>
						<li>機場及邊境自動通關系統入選資策會「中東ICT Best Choice」Top 10</li>
					</ul>
					<h2>2013</h2>
					<ul>
						<li>台北捷運信義線自動票證系統正式營運</li>
						<li>地方稅系統上線，財政資訊中心榮獲國際專案標竿金質獎</li>
						<li>參與新北市「企業金斗雲」、台北市「台北雲」推動計畫</li>
						<li>與資策會簽訂未來五年合作備忘錄</li>
						<li>完成喬美標會網系統平台開發工作，開啟金融借貸雲端服務</li>
						<li>獲科專補助建置烘培業「食品品保履歷管理雲端服務平台」</li>
					</ul>	
					<h2>2012</h2>
					<ul>
						<li>與鼎新合作推出中小企業ERP雲端服務</li>
						<li>承攬台北捷運內湖線電力、通訊系統，並取得完工證明</li>
						<li>MiCloud進入IDC the IT Excellence Awards 2012決選名單</li>
						<li>與台新銀行共同開發之授信風險管理系統(UFRMS)榮獲
						「2012 Celent 模範銀行大獎」
						</li>
						<li>承接富邦銀行金控信用風險集中度管理系統建置案</li>
						<li>與杏翔、威播合作執行雲端醫療系統創新服務</li>
					</ul>
					<h2>2011</h2>
					<ul>
						<li>獲聯華電子股份有限公司選為優良承攬商</li>
						<li>多卡通榮獲「台灣 ITS/Telematics 精彩100」優質獎</li>
						<li>台鐵及高鐵汐止至板橋間隧道中央監控系統取得SIL 2認證</li>
						<li>取得捷運自動收費系統專業分包商資格</li>
						<li>取得Bombardier合格供應商資格</li>
						<li>與美商Joyent合作推出台灣第一朵智慧公有雲MiCloud</li>
					</ul>
					<h2>2010</h2>
					<ul>
						<li>自神通電腦分割成立</li>
						<li>通過ISO 9001：2008品質系統認證</li>
						<li>通過ISO 27001：2005資訊安全管理系統認證</li>
						<li>通過CMMI-DEV V1.2 Level 3 能力成熟度整合模式第三級評鑑</li>
					</ul>
				</div>	

			</div>
			<div class="col-xs-12">
				<h2 class="text-center" style="padding:30px 0px">神通電腦公司 重要里程碑</h2>
			</div>
			<div class="col-xs-12 col-sm-5">
				<img src="images/m03.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list2" style="padding-top:0px">
					

					<ul>
						<li>1974 以二百萬新台幣資本額創立於台北，首先引進小型微電
						腦商用系統Q1，進入自動化市場
						</li>
						<li>1975 引進INTEL微處理機，奠定台灣個人電腦產業基礎
						</li>
						<li>1976 引進第一套超級迷你電腦波金艾瑪(Perkin-Elmer 32元)，開展系統整合業務</li>
						<li>1977 研發世界第一部中文商用終端機</li>
						<li>1979 開發台灣最大資訊系統 -財政部稅務資訊系統</li>
						<li>1982 推出第一套中文終端機，名為漢通</li>
						<li>1984 開發完成台灣第一條高速公路自動化監控系統</li>
						<li>1985 發明中文簡捷輸入法，並取得專利</li>
						<li>1986 參與中鋼自動化製程作業</li>
						<li>1989 研發成功第一套國產多重處理機系統</li>
						<li>1991 跨入工業電腦領域</li>
						<li>1992 裝設完成全國最大門數民用交換機-台大醫院</li>
						<li>1993 完成建構全島光纖高速網路系統</li>
						<li>1994 推出第一台家用中文化個人電腦</li>
						<li>1995 開發晶圓廠氣體與電力監控系統</li>
						<li>1996 成功跨入捷運自動收費系統及鐵路行車安全控制
                            系統</li>
						<li>1997 持續參與國稅、地方稅各階段稅務資訊系統昇級
                            計畫</li>
						<li>1998 規劃及執行空軍後勤補給系統-精勤計畫</li>
						<li>1999 取得日立公司EX-PC系列產品長期OEM/ODM合約</li>
						<li>2000 取得智慧卡技術，主導台北悠遊卡建置計畫</li>
						<li>2001 積極參與e-Taiwan政府服務e網通計畫</li>
						<li>2002 與國外大廠結盟，進攻指管通資情監偵系統整合
                            專案</li>
						<li>2003 取得高速鐵路自動收費系統建置與維
                            護合約</li>
						<li>2004 與加拿大商Bombardier合作承攬捷運核心機電系統工程</li>
						<li>2005 參與高速公路電子收費系統建置團隊</li>
						<li>2006 參與電子發票整合服務平台建置及維運委外服務</li>
						<li>2007 規劃建置玉山銀行外匯系統，並成功跨入銀行法金核心系統</li>
						<li>2008 推出遠距健康照護平台</li>
						<li>2009 承攬台北市警察局城市安全監視系統</li>
						<li>2010 分割核心業務新設「神通資訊科技股份有限公司」</li>
					</ul>
				</div>
			</div>	

		</div>
	</div>

	<!--內容結束-->