



<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
			<!--大標題+圖-->
			<div class="col-xs-12 col-sm-12">
				<div class="totalbox">
					<h3 class="total-word">電子化政府</h3>
					<!--麵包穴-->
					<ol class="breadcrumb hidden-xs">
					  <li><a href="#">首頁</a></li>
					  <li><a href="#">產品與服務</a></li>
					  <li class="active">電子化政府</li>
					</ol>
					<!--麵包穴結束-->
				</div>
				<!--主圖-->
				<img src="images/big02.jpg" class="img-responsive" style="margin-top:50px">
				<!--主圖結束-->
			</div>
			<!--大標題+圖結束-->
			<!--入出境查驗及通關自動化系統標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>入出境查驗及通關自動化系統</span></h3>
			</div>
			<!--入出境查驗及通關自動化系統標題結束-->
			<!--入出境查驗及通關自動化系統內容開始-->
			<div class="col-xs-12 col-sm-6">
				<img src="images/govement/01.jpg" class="img-responsive picture-color1">	
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3>自動通關系統</h3>
				<p>自動查驗通關系統是採用電腦自動化的方式，結合生物辨識科技，讓旅客可以自助、便捷、快速的入出國，旅客只要完成自動通關申請註冊後，就可以使用。未來一旦完成註冊，即可快速通行有自動查驗通關系統之機場、港口。本項系統可以紓解查驗櫃檯等候時間，目前美國、澳洲、日本、韓國、新加坡、香港等也有類似自動查驗通關服務。本系統可提供民眾自助、快速、便捷的入出國通關服務，由原來查驗時間30秒縮短為12秒，並可以臉部或指紋等生物辨識特徵科技過濾旅客身分，讓查驗工作更有效率且落實。系統亦可解決現行查驗人力不足問題，以科技取代人
				工查驗，有效提升國家形象。
				</p>
			</div>
			
			
			<!--入出境查驗及通關自動化系統內容結束-->
			<!--電子化政府國際合作與輸出標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>電子化政府國際合作與輸出</span></h3>
			</div>
			<!--電子化政府國際合作與輸出標題結束-->
			<!--電子化政府國際合作與輸出內容開始-->
			<div class="col-xs-12 col-sm-5">
				<img src="images/govement/02.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list" style="padding-top:50px">
					
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div>
			<!--電子化政府國際合作與輸出內容結束-->
			<!--稅務資訊系統標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>稅務資訊系統後續賦稅系統再造</span></h3>
			</div>
			<!--稅務資訊系統結束-->
			<!--稅務資訊系統開始-->
			<div class="col-xs-12 col-sm-6">
				<div class="list">
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="list">
					
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div>
			
			<!--稅務資訊系統結束-->
			<!--電子發票規劃建置與維運標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>電子發票規劃建置與維運</span></h3>
			</div>
			<!--電子發票規劃建置與維運標題結束-->
			<!--電子發票規劃建置與維運內容開始-->
			<div class="col-xs-12 col-sm-5">
				<img src="images/govement/02.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list" style="padding-top:50px">
					
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div>
			<!--電子發票規劃建置與維運內容結束-->
			<!--拍賣管理系統標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>拍賣管理系統</span></h3>
			</div>
			<!--拍賣管理系統標題結束-->
			<!--拍賣管理系統內容開始-->
			<div class="col-xs-12 col-sm-5">
				<img src="images/govement/02.jpg" class="img-responsive"> 			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="list" style="padding-top:50px">
					
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div>
			<!--拍賣管理系統-->
		</div>
	</div>

	<!--內容結束-->