<!--slider start-->
	<div class="slider">	
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
		  	<ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
<!-- Wrapper for slider -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
				  <img src="images/17.jpg" alt="...">
				</div>
				<div class="item">
					<img src="images/07.jpg" alt="...">	
				</div>
			</div>
<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>	
<!--end sider-->
<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">		
<!--最新消息開始-->		
	<div class="row">
		<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>最新消息<small href="#">more</small></span></h3>
		</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="wordbox">
						<p><strong>神通新聞稿</strong></p>
						<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="wordboy">
						<p><strong>媒體報導</strong></p>
						<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="wordboz ">
						<p><strong>活動訊息</strong></p>
						<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">企業解決方案研討會</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
		</div>
	<!--最新消息結束-->	
	<!--解決方案開始-->	
		<div class="row">
		<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>解決方案<small href="#">more</small></span></h3>
		</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>電子化政府</strong></p>
						
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>智慧型交通</strong></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>智慧城市</strong></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">企業解決方案研討會</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
		</div>
	<!--解決方案結束-->	
	<!--代理產品開始-->
		<div class="row">
		<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>代理產品<small href="#">more</small></span></h3>
		</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>google</strong></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>Lifesize</strong></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">第八屆潘文淵獎頒獎典禮</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="thumb">
					<div class="word-s">
						<p><strong>Aydin</strong></p>
					</div>
			    	<img src="images/01_1.jpg" alt="Responsive image" class="img-responsive">
			    	<div class="caption">
			        	<h3 class="bigtital">企業解決方案研討會</h3>
			        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
						</p>
			        	<p>
			        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
			        	</p>
			    	</div>	
				</div>
			</div>	
		</div>
	<!--代理產品結束-->	
	<!--影音專區開始-->
	<div class="row">
		<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>影音專區<small href="#">more</small></span></h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
    		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GmrB3DTM818">	
    		</iframe>
  			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="caption">
			    <h3 class="bigtital">移民署通關閘門</h3>
			    <p>移民署自動查驗通關系統自2007年開始規劃，2010年爭取建置經 費，並於2010年10月發包，由神通、大同、凌網所組成的 團隊得標，期間投入100多名人力，歷經1萬多次測試，才 完成軟硬體開發設計。2011年3月開始分階段於金門水頭 商港、高雄機場、松山機場、桃園機場辦理試營運，2012 年1月1日正式啟用上線，民眾反應熱烈，頗受好評，2013 年3月也在台中機場完成安裝，累積到2013年2月份已有超 過70萬人註冊、近400萬人次通行，由於通關所需時間僅 10-15秒，民眾往來國境如搭捷運一樣方便，預估未來申請、使用人數仍會持續上升。
				</p>
			    <p>
			        <a class="btn btn-link btn-sm" href="#" role="button">-Other Links-</a>
			    </p>
			</div>	
		</div>
	</div>
	<!--影音專區結束-->	
	</div>
	<!--內容結束-->