<!--slider start-->
	<div class="slider">	
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		  	
<!-- Wrapper for slider -->
			<div class="carousel-inner" role="listbox"> 
				<div class="item active">
				  <img src="images/news_bg.jpg" alt="...">
				</div>
				
			</div>
<!-- Controls -->
			
		</div>
	</div>	
<!--end sider-->
<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
		<!--麵包穴-->
			<ol class="breadcrumb">
				  <li><a href="#">首頁</a></li>
				  <li><a href="#">最新消息</a></li>
				  <li><a href="#">神通新聞稿</a></li>
				  <li class="active">神通新聞稿</li>
			</ol>
		<!--麵包穴結束-->
		<!--左側選單-->
			<div class="col-sm-3 hidden-xs">
				<div class="window">
					<h4 class="blue"><strong>連絡窗口</strong></h4>
					<ul>
						<li>游金龍 經理, 楊志宏 專案經理</li>
						<li>jimmyyou@mitac.com.tw</li>
						<li>(886‐2)2657 8000#731, #732</li>
						<li>台北市內湖區堤頂大道 二段187 號8 樓</li>
						
					</ui>
				</div>
				<div class="hotnews">
					<h4 class="blue"><strong>相關新聞</strong></h4>
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div><!--左側選單結束-->	
		
		<!--右側內容-->
			<div class="col-xs-12 col-sm-9">
				<!--右側圖框-->
					<div class="thumb" style="margin-right:20px">
					<!--文含圖-->
						<div class="wordbox" style="margin-left:15px">
					<!--標題-->
							<p class="blue"><strong>Lifesize與神通集團新達電腦簽訂總代理合約</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					<!--標題結束-->
					<!--大圖-->		
							<img src="images/news/02.jpg" alt="教育雲" class="img-responsive">
					<!--大圖結束-->
					<!--內文-->				
							<div class="caption" style="margin-top:20px">
				        		<p class="text-justify"><span>Lifesize是羅技電子（納斯達克股票代碼：LOGI）（SIX：LOGN）旗下的一個部門，已在今年中發表雲服務視訊會議解決方案Lifesize Cloud，完美融合了軟體、硬體、服務及使用者介面，任何人使用智能手機，平板電腦，筆記型電腦，尤其是會議室視訊系統提供了一個連接的體驗，這項卓越的視訊服務品質使得它能夠實現廣泛普及的可能性。</span></p>
								<p class="text-justify"><span>
								甫在香港舉行產品發表記者會的同時，Lifesize利用這個機會與新達電腦舉行台灣總代理簽約儀式並舉行產品上市發表會。處於亞太區的台灣在IT服務及資訊產品是非常的高度競爭，而新達電腦在台灣市場長年的努力與耕耘是被Lifesize所肯定。簽約儀式則由新達電腦董事長蔣臺方與Lifesize 環球副總裁Andreas Wienold進行簽約。新達電腦董事長蔣臺方提到：「四年前，聯華神通集團董事長苗豐強先生在國外開會時，體驗了Lifesize產品清晰的音質、優異的視訊影像處理讓他嗅到了商機，因此特別交代將Lifesize引進國內，並交給集團旗下的新達電腦代理。新達電腦憑藉著20多年網路通訊的經驗及優秀的工程維護服務，順利地成為了Lifesize在台灣正式代理商之一。經過多年努力，現在又成為台灣總代理。希望未來雙方可以有更緊密的合作，共同推廣台灣視訊會議市場。」Lifesize環球副總裁Andreas Wienold提到：「相對於市場上其他傳統視訊會議設備多為複雜又難以操作介面及繁瑣的設定步驟。Lifesize的設定只需一般Full HD電視或投影機，加上模組化系 Icon視訊設備，整個系統從安裝到啟動使用僅僅需短短15鐘內，實現隨時隨地輕鬆開會的理想。我們能夠做
								到這一點，是因為過去的11年來我們努力建設創新型的產品組合，提供一切必要的創新來讓這個願景
								實現。」
								</span></p>
								<p class="text-justify"><span>
								Lifesize大中華區李文總經理表示：「Lifesize看見了新達電腦的團隊精神、對於新科技的敬業與熱誠、精益求精的精神，以及願意學習改進及成長，我們相信Lifesize與新達電腦更緊密合作能將業務與服務滲透至更多更重要的客戶及市場裡」，這就是為什麼我們決定加強與新達電腦合作簽訂總代理合約，肯定新達電腦在Lifesize合作夥伴中的戰略地位。不管是現在或未來，Lifesize將與新達電腦一起帶領台灣市場走向一個新的里程碑，共同在視訊市場開創新局面。</span></p>
								<p class="text-justify"><span>
								新達電腦總經理丁玉成也提到：「國際業務的快速轉型意味著企業將更加重視成本效益及高效率的溝通模式。在台灣，越來越多企業、醫療院所及教育機構，大量採用Lifesize視訊產品；在最重視安全性及穩定性的政府機關也選擇使用。優異的銷售成績在在顯示Lifesize是能夠滿足不同市場及客戶需求的解決方案。新達電腦很榮幸成為Lifesize台灣總代理，我們會與Lifesize一起努力，共創佳績。」</span></p>
								<p class="text-justify"><span>
								有鑒於雲端應用服務已逐漸成為市場主流，Lifesize於今年中推出雲端解決方案Lifesize Cloud，以軟體即服務(SaaS)形式提供視訊會議服務，客戶可以透過筆記型電腦、智慧型手機、平板或會議型主機等各種裝置，即時連線即時開會，充分展現其靈活性與方便
								</span></p>	
				    		</div>
				    		<button type="button" class="btn btn-info btn-xsm" style="float:right">
				         		 <span class="glyphicon glyphicon-cloud-download"></span> PDF下載
				        	</button>
				    	<!--內文結束-->	
						</div><!--文含圖-->
						
					</div><!--右側圖框-->
					
				</div>	
		<!--右側內容結束-->
		
		</div>
	</div>

	<!--內容結束-->