<!--slider start-->
	<div class="slider">	
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
		  	
<!-- Wrapper for slider -->
			<div class="carousel-inner" role="listbox"> 
				<div class="item active">
				  <img src="images/news_bg.jpg" alt="...">
				</div>
				
			</div>
<!-- Controls -->
			
		</div>
	</div>	
<!--end sider-->
<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
		<!--麵包穴-->
			<ol class="breadcrumb">
				  <li><a href="#">首頁</a></li>
				  <li><a href="#">最新消息</a></li>
				  <li class="active">神通新聞稿</li>
			</ol>
		<!--麵包穴結束-->
		<!--左側選單-->
			<div class="col-sm-3 hidden-xs">
				<div class="years">
					<h4 class="blue"><strong>年份</strong></h4>
					<ul>
						<li><a href="#">2015</a><span class="badge">5</span></li>
						<li><a href="#">2014</a><span class="badge">5</span></li>
						<li><a href="#">2013</a><span class="badge">5</span></li>
						<li><a href="#">2012</a><span class="badge">5</span></li>
						<li><a href="#">2011</a><span class="badge">5</span></li>
					</ui>
				</div>
				<div class="hotnews">
					<h4 class="blue"><strong>熱門新聞</strong></h4>
					<ul>
						<li>智慧訂票 台灣高鐵再加速</li>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
						<li>2011</li>
					</ul>
				</div>	
			</div><!--左側選單結束-->	
		
		<!--右側內容-->
			<div class="col-sm-9">

			<!--第一則內容-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<div class="col-xs-12 col-sm-6"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div>
				<!--第1則內容結束-->
				<!--第2則內容-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<div class="col-xs-12 col-sm-6" style="margin-top:20px"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div><!--右圖結束-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb" style="margin-top:20px">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<!--第2則內容結束-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<!--第3則內容-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb" style="margin-top:20px">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<div class="col-xs-12 col-sm-6" style="margin-top:20px"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div>
				<!--第3則內容結束-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<!--第4則內容-->
				<div class="col-xs-12 col-sm-6" style="margin-top:20px"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div><!--右圖結束-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb" style="margin-top:20px">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<!--第4則內容結束-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<!--第5則內容-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb" style="margin-top:20px">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<div class="col-xs-12 col-sm-6" style="margin-top:20px"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div>
				<!--第5則內容結束-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<!--第6則內容-->
				<div class="col-xs-12 col-sm-6" style="margin-top:20px"><!--右圖-->
					<img src="images/news/01.jpg" alt="教育雲" class="img-responsive">
				</div><!--右圖結束-->
				<div class="col-xs-12 col-sm-6"><!--左側文-->
					<div class="thumb" style="margin-top:20px">
						<div class="wordbox">
							<p><strong>神通新聞稿</strong></p>
							<p><small>Date: 2015.02.15 / 潘文淵基金會</small></p>
					</div>
			    		<div class="caption">
				        	<p>潘文淵文教基金會為表揚長期對我國科技產業發展與推動具有卓越貢獻之終身成就人士於今(23)日假香格里拉台北遠東國際飯店舉行「第八屆潘文淵獎」頒獎典禮，由聯華神通集團董事長苗豐強...
							</p>
				        	<p>
				        	<a class="btn btn-link btn-sm" href="#" role="button">-view more-</a>
				        	</p>
				    	</div>
					</div>
				</div><!--左側文結束-->
				<!--第6則內容結束-->
				<div class="contain-underline clearfix"></div>	<!--分隔線-->
				<nav>
					<ul class="pagination" style="padding-left:13px">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					</ul>
				</nav>
			</div>
		<!--右側內容結束-->
		</div>
	</div>

	<!--內容結束-->