



<!--內容顯示-->	
<div class="wrapper">
	<div class="container-fluid">				
		<div class="row">
			<!--大標題+圖-->
			<div class="col-xs-12 col-sm-12">
				<div class="totalbox">
					<h3 class="total-word">產品與服務</h3>
					<!--麵包穴-->
					<ol class="breadcrumb hidden-xs">
					  <li><a href="#">首頁</a></li>
					  <li class="active">產品與服務</li>
					</ol>
					<!--麵包穴結束-->
				</div>
				<!--主圖-->
				<img src="images/big01.jpg" class="img-responsive" style="margin-top:50px">
				<!--主圖結束-->
			</div>
			<!--大標題+圖結束-->
			<!--解決方案標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>解決方案</span></h3>
			</div>
			<!--解決方案標題結束-->
			<!--解決方案開始-->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="govement.html">
					<img src="images/service/01.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>電子化政府</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/02.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>智慧型交通</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/03.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>金融運用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/04.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>金融運用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/05.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>金融運用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/06.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>金融運用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/07.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>金融運用</strong></h4>
			</div>
			<!--解決方案結束-->
			<!--自有產品標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>自有產品</span></h3>
			</div>
			<!--自有產品標題結束-->
			<!--自有產品開始-->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/08.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>MiCloud</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/09.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>MiAP</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/10.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>MiH</strong></h4>
			</div>
			<!--自有產品結束-->
			<!--代理產品標題開始-->
			<div class="col-xs-12">
  			<h3 class="title col-xs-12"><span>代理產品</span></h3>
			</div>
			<!--代理產品標題結束-->
			<!--代理產品開始-->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/11.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>雲端應用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/12.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>巨量資料</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/13.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>虛擬化應用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/14.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>網通與資通應用</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/15.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>視訊會議</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/16.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>高解析度航管顯示器</strong></h4>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#">
					<img src="images/service/17.jpg" class="img-responsive picture-color1">
				</a>		
				<h4 style="padding:19px 0px"><strong>醫療設備</strong></h4>
			</div>

			<!--代理產品結束-->
		</div>
	</div>

	<!--內容結束-->